# Add this file to the root of your git repo.  Name it .gitignore
#
# A .gitignore file will tell git which files and directories to ignore and
# not add to version control.

submit.tar.gz
submit.tar.bz2
starter_files.tar.gz
starter_files.tar.bz2
spotifykeys.pem
/featurfy/views/recentlyplayed.py
/tests

*.log
*insta485/html/
*hello/html/
*hello_css/html/

# Database 
*.db
var/

# React
node_modules/
cookies.txt
session.json
bundle.js

# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache

# JavaScript
bundle.js
*node_modules*
files_for_autograder_io/
*/var/*

# Virtual Machines
.vagrant/

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/

# macOS system files
*.DS_Store

# Google Drive and Dropbox
Icon
.dropbox*
