<!DOCTYPE html>
<html lang="en">
<head>
    <title>featurfy</title>
    <link rel="stylesheet" href="/static/css/audiofeat.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="shortcut icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="/static/css/bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery/jquery-ui.min.css">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
    <div id="app">
            <nav class="navbar navbar-dark bg-dark navbar-background">
                <div class="container">
                    <div class="navbar-logo-offset">
                        <a class="navbar-brand" href="/">
                            <img src="/static/images/logo.png" width="45" height="45" class="d-inline-block" alt="">
                        </a>
                    </div>
                    <a class="navbar-logout-offset" href="/logout/">
                        <button id="logout-button" class="btn btn-md">Logout</button>
                    </a>
                </div>
            </nav>
            <div class="row">
                <div id="left-load" class="col-8 align-items-center">
                    <div class="spinner-margin">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <div class='load-text'>Please wait while we fetch your Spotify music</div>
                    </div>
                </div>
                <div id="left-graphs" class="col-8">
                    <div class="row graph-row">
                        <div id="bpm-col" class="col-6">

                            <div class="row">
                                <div class="col align-self-start">
                                    <div class="chart-dimensions">
                                        <canvas class="chartjs" id="bpmChart"></canvas>
                                    </div>
                                </div> 
                            </div>
                            <div class="row align-items-start">
                                <div id="bpm-min-slider" class="slider chart-icon-font">0</div>
                                <div class="col slider-padding">
                                    <div id="slider-bpm"></div>
                                </div>
                                <div id="bpm-max-slider" class="chart-icon-margin chart-icon-font">210</div>
                                <div class="chart-icon-margin chart-icon-font">
                                    <i id="bpm-help" class="fa fa-info clickable"></i>
                                </div>
                                <div class="zoom-icon-margin chart-icon-font">
                                    <i id="bpm-zoom" class="fa fa-plus clickable"></i>
                                </div>
                            </div>
                            <div id="bpm-description" class="row align-items-start hide-initial">
                                 <div class="slider col text-left feature-descriptions">
                                    Beats per minute, or BPM, represents the speed of a track.
                                 </div>
                            </div>
                        </div>
                        <div id="valence-col" class="col-6">
                            <div class="row">
                                <div class="col align-self-start">
                                    <div class="chart-dimensions">
                                        <canvas class="chartjs" id="valenceChart"></canvas>
                                    </div>
                                </div>  
                            </div>
                            <div class="row align-items-start">
                                <div id="valence-min-slider" class="slider chart-icon-font">0</div>
                                <div class="col slider-padding">
                                    <div id="slider-valence"></div>
                                </div>
                                <div id="valence-max-slider" class="chart-icon-font chart-icon-margin">100</div>
                                <div class="chart-icon-margin chart-icon-font">
                                    <i id="valence-help" class="fa fa-info clickable"></i>
                                </div>
                                <div class="zoom-icon-margin chart-icon-font">
                                    <i id="valence-zoom" class="fa fa-plus clickable"></i>
                                </div>
                            </div>
                            <div id="valence-description" class="row align-items-start hide-initial">
                                 <div class="slider col text-left feature-descriptions">
                                    Describes the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).
                                 </div>
                            </div>
                        </div>
                        <div id="energy-col" class="col-6">
                            <div class="row">
                                <div class="col align-self-start">
                                    <div class="chart-dimensions">
                                        <canvas class="chartjs" id="energyChart"></canvas>
                                    </div>
                                </div>  
                            </div>
                            <div class="row align-items-start">
                                <div id="energy-min-slider" class="slider chart-icon-font">0</div>
                                <div class="col slider-padding">
                                    <div id="slider-energy"></div>
                                </div>
                                <div id="energy-max-slider" class="chart-icon-font chart-icon-margin">100</div>
                                <div class="chart-icon-margin chart-icon-font">
                                    <i id="energy-help" class="fa fa-info clickable"></i>
                                </div>
                                <div class="zoom-icon-margin chart-icon-font">
                                    <i id="energy-zoom" class="fa fa-plus clickable"></i>
                                </div>
                            </div>
                            <div id="energy-description" class="row align-items-start hide-initial">
                                 <div class="slider col text-left feature-descriptions">
                                    Represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale.
                                 </div>
                            </div>
                        </div>
                        <div id="danceability-col" class="col-6">
                            <div class="row">
                                <div class="col align-self-start">
                                    <div class="chart-dimensions">
                                        <canvas class="chartjs" id="danceabilityChart"></canvas>
                                    </div>
                                </div>  
                            </div>
                            <div class="row align-items-start">
                                <div id="danceability-min-slider" class="slider chart-icon-font">0</div>
                                <div class="col slider-padding">
                                    <div id="slider-danceability"></div>
                                </div>
                                <div id="danceability-max-slider" class="chart-icon-margin chart-icon-font">100</div>
                                <div class="chart-icon-margin chart-icon-font">
                                    <i id="danceability-help" class="fa fa-info clickable"></i>
                                </div>
                                <div class="zoom-icon-margin chart-icon-font">
                                    <i id="danceability-zoom" class="fa fa-plus clickable"></i>
                                </div>
                            </div> 
                            <div id="danceability-description" class="row align-items-start hide-initial">
                                 <div class="slider col text-left feature-descriptions">
                                    Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity.
                                 </div>
                            </div>
                        </div> 
                    </div>
                    <div class="row genre-row-margin">
                        <div class="col text-right">
                            <select id="genre-selector" selectedTextFormat="values" data-width="194px" title="Filter songs by genre" class="selectpicker" data-live-search="true" multiple data-size="4" data-dropup-auto="false" data-display="static">
                            </select>
                        </div>
                    </div>
                    <div id="genre-row" class="row genres"></div>
                </div>
                <div id="right" class="col-5">
                    <div class="mini-song-display row">
                        <ul class="nav navbar-dark nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active rounded-buttons" id="filtered-songs-tab" data-toggle="pill" href="#filtered-songs" role="tab" aria-controls="filtered-songs" aria-selected="true">Filtered Songs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-buttons" id="my-playlist-tab" data-toggle="pill" href="#my-playlist" role="tab" aria-controls="my-playlist" aria-selected="false">My Playlist</a>
                            </li>
                        </ul>
                    </div>
                    <div id="songs" class="tab-content">
                        <div id="filtered-songs" class="tab-pane fade in active show">
                            <div id="all-header" class="row">
                                <div id="all-col" class="col-1 text-left all-color-font">
                                    <i id="heart-all-icon" class="fa fa-heart"></i>
                                </div>
                                <div id="all-text" class="col text-left all-color-font">
                                    Select all
                                </div>
                                <div id="filtered-song-count" class="col text-right song-count">Songs: 0</div>
                            </div>
                            <ol id="filtered-songs-ordered-list">

                            </ol>
                        </div>
                        <div id="my-playlist" class="tab-pane fade">
                            <div id="my-playlist-header-row" class="row">
                                <div id="input-name-col" class="col">
                                    <input id="my-playlist-name" type="text" class="form-control rounded-buttons" placeholder="Enter a name" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div id="create-playlist-button-col" class="col align-self-center">
                                    <div id="create-playlist-button" class="btn btn-success rounded-buttons">Create playlist</div>
                                </div>
                            </div>

                            <div id="my-playlist-all-header" class="row">
                                <div id="my-playlist-all-col" class="col-1 text-left all-color-font">
                                    <i id="my-playlist-all-icon" class="fa fa-close"></i>
                                </div>
                                <div id="my-playlist-all-text" class="col text-left all-color-font">
                                    Remove all
                                </div>
                                <div id="my-playlist-song-count-col" class="col text-right song-count">Songs: 0</div>
                            </div>
                            <ol id="my-playlist-ordered-list">
                                
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!-- jQuery -->
    <script src="/static/js/jquery/jquery-3.5.1.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript UI Slider-->
    <script src="/static/js/jquery/jquery-1.12.1-ui.min.js"></script>
    <!-- ChartJS cdn-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Bootstrap js/popper -->
    <script src="/static/js/bootstrapjs/bootstrap.bundle.min.js"></script>
    <!-- Genre selector css/js -->
    <link rel="stylesheet" href="/static/css/bootstrap-genre-select-css/bootstrap-select.min.css">
    <script src="/static/js/bootstrap-genre-select-js/bootstrap-select.min.js"></script>
    <!-- Local js -->
    <script src="/static/js/audiofeat.js"></script>
</body>
</html>
