<!DOCTYPE html>
<html lang="en">
<head>
	<title>featurfy</title>
    <link rel="shortcut icon" href="/static/images/logo.png">
	<link rel="stylesheet" href="/static/css/index.css">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
</head>
    <body>
        <div id="app">
            <nav class="navbar navbar-dark bg-dark navbar-background">
                <div class="container">
                    <div class="navbar-logo-offset">
                        <a class="navbar-brand" href="/">
                            <img src="/static/images/logo.png" width="45" height="45" class="d-inline-block" alt="">
                        </a>
                    </div>
                    <a class="navbar-logout-offset" href="/logout/">
                        <button id="logout-button" class="btn btn-md">Logout</button>
                    </a>
                </div>
            </nav>
            <div class="container">
              <div style="margin-top: 50px;" class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="/audiofeat/">
                        <img class="feature" src="/static/images/audiofeat.png" alt="audiofeat" style="width:100%">
                        <div class="feature-middle">
                            <div class="feature-text">
                                <h2 style="font-size: 32px;">Audio Feature Playlist</h2>
                                <p>Create playlists by filtering your liked Spotify songs by genre, bpm, energy and more!</p>
                            </div>
                        </div>
                    </a>
                  </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>