<!DOCTYPE html>
<html lang="en">
<head>
	<title>featurfy</title>
    <link rel="shortcut icon" href="/static/images/logo.png">
	<link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/bootstrapcss/bootstrap.min.css">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
    <body>
        <div id="app">
            <nav class="navbar navbar-dark bg-dark navbar-background">
                <div class="container">
                    <div class="navbar-logo-offset">
                        <a class="navbar-brand" href="/">
                            <img src="/static/images/logo.png" width="45" height="45" class="d-inline-block" alt="">
                        </a>
                    </div>
                    <a class="navbar-logout-offset" href="/logout/">
                        <button id="logout-button" class="btn btn-md">Logout</button>
                    </a>
                </div>
            </nav>
            <div class="container">
                <div style="margin-top: 50px;" class="row">
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <a href="/audiofeat/">
                            <img id="auto-feat-img" class="feature" src="/static/images/audiofeat.png" alt="audiofeat">
                            <div class="feature-middle">
                                <div class="feature-text">
                                    <h2 class="feature-header">Audio Feature Playlist</h2>
                                    <p>Create playlists by filtering your liked Spotify songs by genre, bpm, energy and more!</p>
                                </div>
                            </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <a href="/artistfinder/">
                            <img class="feature" src="/static/images/artistfinder.png" alt="audiofeat">
                            <div class="feature-middle">
                                <div class="feature-text">
                                    <h2 class="feature-header">Unpopular Artist Finder</h2>
                                    <p>Discover unpopular artists to follow that are related to your favorite artists</p>
                                </div>
                            </div>
                        </a>
                      </div>
                    </div>
                    
                </div>
            </div>
            <div class="row no-gutters align-items-end contribute">
                <div class="col text-center">
                    <p class="support">
                        <span>Made by <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/joshuah-smith/">Josh Smith</a></span>
                        ·
                        <span>Check out the <a target="_blank" rel="noopener" href="https://github.com/smithjosh115/featurfy">code on GitHub</a></span>
                        ·
                        <span>Support the project <a target="_blank" rel="noopener" href="https://www.buymeacoffee.com/smithjosh115">buying a coffee</a></span>
                    </p>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="/static/js/jquery/jquery-3.5.1.min.js"></script>
        <!-- Bootstrap js/popper -->
        <script src="/static/js/bootstrapjs/bootstrap.bundle.min.js"></script>
    </body>
</html>