<!DOCTYPE html>
<html lang="en">
<head>
    <title>featurfy</title>
    <link rel="shortcut icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
</head>
    <body>
        <div class="center">
            <div class="containter margin-header">
                <div class="row no-gutters justify-content-center header">
                    <div class="box">
                        <img src="/static/images/logo.png" width="45" height="45" alt="">
                        <span class="app-name">Featurfy</span>
                    </div>
                </div>
                <div class="row no-gutters align-items-end margin-description">
                    <div class="col text-center app-description">
                        Welcome to Featurfy!
                        Explore a variety of small applications built using Spotify's Web API.
                    </div>
                </div>
                <div class="row no-gutters align-items-end margin-button">
                    <div class="col text-center">
                        <form action="/login/" method="post">
                            <button id="sign-in" class="btn btn-success">Log in with Spotify</button>
                        </form>
                    </div>
                </div>
                <div class="row no-gutters align-items-end margin-button">
                    <div class="col text-center">
                        <p class="support">
                            <span>Made by <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/joshuah-smith/">Josh Smith</a></span>
                            ·
                            <span>Check out the <a target="_blank" rel="noopener" href="https://github.com/smithjosh115/featurfy">code on GitHub</a></span>
                            ·
                            <span>Support the project <a target="_blank" rel="noopener" href="https://www.buymeacoffee.com/smithjosh115">buying a coffee</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>